[user]
    name = Adrian Groh
    email = adrian.groh@t-online.de
    signingkey = adrian.groh@t-online.de

[core]
	editor = nvim
[push]
    autoSetupRemote = true

[pull]
	rebase = true

[commit]
    gpgsign = true

[tag]
    gpgSign = true
[rebase]
	autoStash = true

[sendemail]
    smtpserver = mail.rwth-aachen.de
    smtpuser = uc570011@rwth-aachen.de
    smtpencryption = tls
    smtpserverport = 587
    suppressCc = all
    confirm = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
