[user]
    name = Adrian Groh
    email = adrian.groh@t-online.de
    signingkey = adrian.groh@t-online.de

[core]
	editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
[merge]
    conflictstyle = zdiff3
[push]
    autoSetupRemote = true

[pull]
	rebase = true

[commit]
    gpgsign = true

[tag]
    gpgSign = true
[rebase]
	autoStash = true
